<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nano.projectjonobak">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Home" />
        <activity android:name=".CategoriesActivity" />
        <activity android:name=".DivisionList" />
        <activity android:name=".divisions.RajshahiDistrict" />
        <activity android:name=".divisions.SylhetDistrict" />
        <activity android:name=".divisions.DhakaDistrict" />
        <activity android:name=".divisions.districts.Bogra" />
        <activity android:name=".divisions.BarisalDistrict" />
        <activity android:name=".divisions.ChittagongDistrict" />
        <activity android:name=".divisions.RangpurDistrict" />
        <activity android:name=".divisions.RangpurDistrict" />
        <activity android:name=".divisions.KhulnaDistrict" />
        <activity android:name=".divisions.MymensinghDistrict" />
        <activity android:name=".MinistriesList" />
        <activity android:name=".CivilService" />
        <activity android:name=".civilService.PublicWork" />
        <activity android:name=".civilService.Forest" />
        <activity android:name=".civilService.HealthAssistant" />
        <activity android:name=".civilService.RailWayEngineering" />
        <activity android:name=".civilService.LiveStock" />
        <activity android:name=".civilService.FisheriesCivil" />
        <activity android:name=".civilService.HealthEngineering" />
        <activity android:name=".civilService.Statistics" />
        <activity android:name=".civilService.GeneralEducation" />
        <activity android:name=".divisions.districts.Jamalpur" />
        <activity android:name=".divisions.districts.Sherpur" />
        <activity android:name=".divisions.districts.Tangail" />
        <activity android:name=".divisions.districts.Netrokona" />
        <activity android:name=".divisions.districts.Kishoreganj" />
        <activity android:name=".divisions.districts.Mymensingh"></activity>
    </application>

</manifest>